.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:none;
    align-items:center;
    justify-content:center;
    padding:20px;
    z-index: 5000;
}

.modal{
    background:#fff;
    width:100%;
    max-width:700px;
    border-radius:16px;
    padding:24px;
    box-shadow:0 8px 28px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    z-index: 5100;
} 

.additional-info{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.additional-info p{
    margin: 4px 0;
}

.print-header{
    text-align:center;
    margin-bottom:20px;
    display:none;
} 

.print-header h2{
    font-size:32px;
    font-family:'Lexend';
    margin:0;
    color: var(--gold-main);
    margin: 0;
} 

h3{
    margin:0;
    font-size:20px;
    font-family:'Lexend';
    color: var(--gold-main);
}

.patient-info{
    margin-bottom:20px;
    display:none;
} 

.doctor-sign{
    margin-top:40px;
    text-align:right;
    display:none;
} 

@media print{
    body{padding:0;background:#fff;}
    .modal{box-shadow:none;padding:0;} 
    .modal-buttons, #prescriptionList, h1{display:none !important;}
    .print-header, .patient-info, .doctor-sign{display:block !important;}
}

.modal-buttons{
    display:flex;
    gap:12px;
    margin-top:20px;
    align-self: flex-end;
} 


.modal-buttons { 
    display: flex; 
    gap: 12px; 
    margin-top: 20px; }