

h1{
    font-family:'Lexend';
    font-size:28px;
    margin-bottom:20px;
}

main {
    padding-top: 90px;
}

ul{
    list-style:none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding:0;
    max-width: 1200px;
    gap: 10px;
} 
li{
    background:#fff;
    border:1px solid #e5e7eb;
    padding:12px 16px;
    margin-bottom:12px;
    border-radius:12px;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:12px;
    position: relative;
    transition: var(--transition);
    overflow: hidden;
    min-height: 50px;
}

li::before{
    content:""; position:absolute; left:0; top:0; bottom:0; width:4px; background:linear-gradient(180deg,var(--gold-main),var(--gold-light)); border-top-left-radius:16px; border-bottom-left-radius:16px;
  }

li:hover{
    border-color:rgba(212,175,55,0.5);
    box-shadow:0 4px 12px rgba(0,0,0,0.06);
    transform: translateY(-6px);
    background: linear-gradient(180deg, #ffffff 0%, rgba(255,250,240,0.6) 100%);
} 

.icon{
    width:32px;
    height:24px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.date{
    font-weight:600;
}


.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:none;
    align-items:center;
    justify-content:center;
    padding:20px;
    z-index: 5000;
}

.modal{
    background:#fff;
    width:100%;
    max-width:700px;
    border-radius:16px;
    padding:24px;
    box-shadow:0 8px 28px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    z-index: 5100;
} 

.additional-info{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.additional-info p{
    margin: 4px 0;
}

.print-header{
    text-align:center;
    margin-bottom:20px;
    display:none;
} 

.print-header h2{
    font-size:32px;
    font-family:'Lexend';
    margin:0;
    color: var(--gold-main);
    margin: 0;
} 

h3{
    margin:0;
    font-size:20px;
    font-family:'Lexend';
    color: var(--gold-main);
}

.patient-info{
    margin-bottom:20px;
    display:none;
} 

.doctor-sign{
    margin-top:40px;
    text-align:right;
    display:none;
} 

@media print{
    body{padding:0;background:#fff;}
    .modal{box-shadow:none;padding:0;} 
    .modal-buttons, #prescriptionList, h1{display:none !important;}
    .print-header, .patient-info, .doctor-sign{display:block !important;}
}

.modal-buttons{
    display:flex;
    gap:12px;
    margin-top:20px;
    align-self: flex-end;
} 

table { 
    width: 100%; 
    border-collapse: collapse; 
    font-size:14px; 
    margin-top: 12px; 
}
    
th, td { 
    padding: 6px; 
    border-bottom: 1px solid #e5e7eb; 
    text-align: left; }

.modal-buttons { 
    display: flex; 
    gap: 12px; 
    margin-top: 20px; }


